<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="First step" ng-disabled="ctrl.isFirstStepDisabled">
            <md-content class="md-padding">
                <p class="md-display-2">Select variable for x axis:</p>
                <md-input-container>
                    <label>X axis</label>
                    <md-select ng-model="ctrl.xAxisVariable">
                        <md-option ng-repeat="variable in ctrl.listOfVariables" value="{{variable}}" ng-disabled="ctrl.variables[variable].length === 1">
                            {{variable}}
                        </md-option>
                    </md-select>
            </md-content>
        </md-tab>
        <md-tab label="Second step" ng-disabled="ctrl.listOfVariables.length === 1">
            <md-content class="md-padding">
                <p class="md-display-2">Choose second variable for multi plot(optional)</p>
                <div layout="row">
                    <md-input-container>
                        <label>Select variable</label>
                        <md-select ng-model="ctrl.multiPlotVariable">
                            <md-option ng-repeat="variable in ctrl.listOfVariables" value="{{variable}}" ng-disabled="variable === ctrl.xAxisVariable">
                                {{variable}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>And it's values</label>
                        <md-select ng-disable="multiPlotVariable !== null" ng-model="ctrl.multiPlotVariableValues" multiple>
                            <md-option ng-repeat="variableValue in ctrl.variables[ctrl.multiPlotVariable]" value="{{ variableValue }}">
                                {{ variableValue }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Last step" ng-disabled="ctrl.isLastStepDisabled">
            <md-content class="md-padding">
                <p class="md-display-2">Last step. Choose values of rest variables</p>
                <div layout="row">
                    <md-input-container ng-repeat="variable in ctrl.listOfVariables" ng-if="variable !== ctrl.multiPlotVariable && variable !== ctrl.xAxisVariable">
                        <label>{{ variable }} value</label>
                        <md-select ng-model="ctrl.selectedRestVariables[variable]">
                            <md-option ng-repeat="variableValue in ctrl.variables[variable]">{{ variableValue }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-content>
            <div layout="row" layout-align="center center">
                <md-button>Previous</md-button>
                <md-button ng-click="ctrl.configureChart()">Finish</md-button>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
