<md-button class="md-icon-button my-floating-button" ng-click="ctrl.showPanel = !ctrl.showPanel">
    <md-icon>
        <ng-md-icon icon="{{ ctrl.showPanel ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}"></ng-md-icon>
    </md-icon>
</md-button>

<div ng-show="ctrl.showPanel">
    <md-table-container>
        <table md-table
               md-row-select="options.rowSelection"
               ng-model="selected"
               md-progress="ctrl.promise">

            <thead md-head md-order="ctrl.order" >
            <tr md-row>
                <th md-column
                    ng-repeat="variable in ctrl.listOfVariables"
                    md-order-by="{{variable}}">

                    <span>{{variable}}</span>
                </th>
                <th md-column md-order-by="{{ ctrl.functionName }}">
                    <span>{{ ctrl.functionName }}</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row
                ng-repeat="answer in ctrl.answers | orderBy: ctrl.order | limitTo: ctrl.pageLimit : (ctrl.page - 1) * ctrl.pageLimit">

                <td md-cell ng-repeat="value in answer">
                    {{value | number:3}}
                </td>
            </tr>
            </tbody>

        </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.pageLimit" md-limit-options="ctrl.pageLimitOptions"
                         md-page="ctrl.page" md-total="{{ ctrl.answers.length }}"
                         md-page-select="ctrl.options.pageSelect">

    </md-table-pagination>
</div>

<div ng-hide="ctrl.showPanel" layout="row" layout-align="center center">
    <h4>Table panel</h4>
</div>


