<md-button class="md-icon-button my-floating-button" ng-click="ctrl.showPanel = !ctrl.showPanel">
    <md-icon>
        <ng-md-icon icon="{{ ctrl.showPanel ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}"></ng-md-icon>
    </md-icon>
</md-button>

<div ng-show="ctrl.showPanel">
    <div ng-repeat="variable in ctrl.listOfVariables track by $index">
        {{variable}}
        <md-chips ng-model="ctrl.variables[variable]" >
            <input placeholder="Add">
        </md-chips>
    </div>
    <div layout="row" layout-align="center center">
        <md-button ng-click="ctrl.resetVariables()">reset variables</md-button>
        <md-button ng-click="ctrl.setVariables()">set variables</md-button>
    </div>
</div>

<div ng-hide="ctrl.showPanel" layout="row" layout-align="center center">
    <h4>Variables input panel</h4>
</div>
