<chart-constructor list-of-variables="ctrl.listOfVariables"
                   variables="ctrl.variables"
                   on-configure-chart="ctrl.onConfigureChart(xAxisVariable, multiPlotVariable, selectedRestVariables,multiPlotVariableValues)">

</chart-constructor>

<my-chart formula="ctrl.formula" variables="ctrl.variables" x-axis-variable="ctrl.xAxisVariable"
          multi-plot-variable="ctrl.multiPlotVariable" selected-rest-variables="ctrl.selectedRestVariables"
          multi-plot-variable-values="ctrl.multiPlotVariableValues">

</my-chart>
