<md-button class="md-icon-button my-floating-button" ng-click="ctrl.showPanel = !ctrl.showPanel">
    <md-icon>
        <ng-md-icon icon="{{ ctrl.showPanel ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}"></ng-md-icon>
    </md-icon>
</md-button>

<div ng-show="ctrl.showPanel">
    <chart-constructor list-of-variables="ctrl.listOfVariables"
                       variables="ctrl.variables"
                       on-configure-chart="ctrl.onConfigureChart(xAxisVariable, multiPlotVariable, selectedRestVariables,multiPlotVariableValues)">

    </chart-constructor>
</div>

<div ng-hide="ctrl.showPanel" layout="row" layout-align="center center">
    <h4>Chart constructor</h4>
</div>

<my-chart formula="ctrl.formula" variables="ctrl.variables" x-axis-variable="ctrl.xAxisVariable"
          multi-plot-variable="ctrl.multiPlotVariable" selected-rest-variables="ctrl.selectedRestVariables"
          multi-plot-variable-values="ctrl.multiPlotVariableValues">

</my-chart>
